@import url(./vendor/normalize.css);
@import url(./vendor//fonts/fonts.css);

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  /* background-color: rgba(31, 72, 133, 0.74); */
  font-family: 'Inter', Arial, sans-serif;
  color: #FFF;
}


html {
  scroll-behavior: smooth;
}

* {
  /* outline: red 1px dotted; */
}